<header class="site-header">
  <p-menubar [model]="menuItems">
    <ng-template pTemplate="start">
      <a routerLink="/" class="logo">
        <h1>Adonf</h1>
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <a routerLink="/billetterie" class="btn-billetterie"
        ><i class="pi pi-ticket"></i>
        <span id="billetterie-text">Billetterie</span></a
      >
    </ng-template>
  </p-menubar>
  <div class="social-links">
    @for (socialLink of socialLinks; track socialLink.url) {
    <a [href]="socialLink.url" target="_blank" rel="noopener noreferrer">
      <i class="social-link pi pi-{{ socialLink.icon }}"></i>
    </a>
    }
  </div>
</header>
