<header class="site-header">
  <div class="header-left">
    <a routerLink="/" class="logo">
      <h1>Adonf</h1>
    </a>
  </div>
  <div class="header-middle">
    <p-menubar [model]="menuItems"></p-menubar>
    <div class="social-links">
      @for (socialLink of socialLinks; track socialLink.url) {
      <a [href]="socialLink.url" target="_blank" rel="noopener noreferrer">
        <i class="social-link pi pi-{{ socialLink.icon }}"></i>
      </a>
      }
    </div>
  </div>
  <div class="header-right">
    <a routerLink="/billetterie" class="btn-billetterie"
      ><i class="pi pi-ticket"></i>
      <span id="billetterie-text">Billetterie</span></a
    >
  </div>
</header>
