.site-header {
  background-color: var(--light-black);
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.logo {
  text-decoration: none;

  h1 {
    color: #dc143c;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
}

.header-middle {
  overflow: hidden;
}

.header-right {
  flex-shrink: 0;
}

.btn-billetterie {
  background: #dc143c;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  text-wrap: nowrap;
  align-items: center;
  display: flex;
  gap: 0.5rem;

  &:hover {
    background: #b8112f;
    transform: translateY(-2px);
  }

  .pi-ticket {
    padding-top: 0.15rem;
  }
}

.social-links {
  display: flex;
  gap: 0.75rem;

  .social-link {
    color: #333;
    font-size: 1.25rem;
    transition: color 0.3s ease;

    &:hover {
      color: #dc143c;
    }
  }
}

:host ::ng-deep {
  .p-menubar {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }

  .p-menubar-root-list {
    flex-wrap: nowrap !important;
  }

  .p-menubar-mobile-active .p-menubar-root-list {
    min-width: 250px !important;
    width: auto !important;
    background-color: var(--light-black) !important;
    box-shadow: 0 0 0 0.2rem
      color-mix(in srgb, var(--primary-color) 70%, transparent) !important;
    border-radius: 0.5rem;
  }

  .p-menubar-button {
    &:focus,
    &:focus-visible,
    &:active {
      box-shadow: 0 0 0 0.2rem
        color-mix(in srgb, var(--primary-color) 70%, transparent) !important;
      border-color: var(--primary-color) !important;
    }

    &:hover {
      background-color: var(--primary-color) !important;
      color: white !important;
    }
  }

  .p-menuitem-separator {
    border-left: 2px solid var(--primary-color);
    height: 1.5rem;
    margin: 0 0.5rem;
  }

  .p-menuitem-content {
    background-color: transparent !important;
  }

  .p-menuitem-link {
    color: white !important;
    padding: 1rem 0.75rem !important;
    transition: all 0.3s ease;
    border-radius: 4px;

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: var(--primary-color) !important;
    }
  }

  .p-menuitem-text {
    color: white;
    text-transform: uppercase;
    line-height: 1.5rem;
  }

  .p-menuitem-icon {
    color: white;
    margin: 0;
  }

  .p-submenu-icon {
    display: none !important;
  }

  .p-submenu-list {
    background-color: var(--light-black);
    min-width: 250px;
    width: auto;
    border-radius: 4px;
    padding: 0.5rem 0;

    .p-menuitem-link {
      padding: 0.75rem 1.5rem !important;
      white-space: nowrap;
      background-color: transparent !important;

      &:hover,
      &:focus {
        background: var(--primary-color) !important;
      }
    }

    .p-menuitem-text {
      color: white;
    }
  }
}

@media (max-width: 1080px) {
  #billetterie-text {
    display: none;
  }
}

@media (max-width: 960px) {
  .header-middle {
    overflow: visible;
  }

  :host ::ng-deep {
    .p-menuitem-separator {
      display: none;
    }

    .p-submenu-icon {
      display: inline !important;
    }

    .p-menuitem-active .p-submenu-icon {
      color: white !important;
    }
  }
}
