<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="logo-section">
        <a routerLink="/" class="footer-logo">
          <img src="assets/logo-adonf.png" alt="Accueil" />
        </a>
      </div>
      <div class="main-content">
        <div class="social-section">
          <div class="social-links">
            @for (socialLink of socialLinks; track socialLink.url) {
            <a
              [href]="socialLink.url"
              target="_blank"
              rel="noopener noreferrer"
              class="social-link"
            >
              <i class="pi pi-{{ socialLink.icon }}"></i>
            </a>
            }
          </div>
        </div>
        <div class="links-section">
          <nav class="footer-nav">
            <ul class="footer-links">
              @for (link of footerLinks; track link.route) {
              <li>
                <a [routerLink]="link.route">{{ link.label }}</a>
              </li>
              }
            </ul>
          </nav>
        </div>
      </div>

      <div class="address-section">
        <p class="address">
          <strong>Association Adonf</strong><br />
          29 avenue de Onda<br />
          17130 Montendre<br />
          Tél : 05 46 49 03 18
        </p>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} Association Adonf</p>
      <p class="credits">
        Réalisation :
        <a
          href="https://github.com/AntoineSPR"
          target="_blank"
          style="color: inherit"
          >Antoine Simper</a
        >
      </p>
    </div>
  </div>
</footer>
