<div class="actualite-card" [routerLink]="['/actualites', actualite.id]">
  <div class="card-image-wrapper">
    <img
      [src]="actualite.imageUrl"
      [alt]="actualite.title"
      class="card-image"
    />
  </div>
  <div class="card-content">
    <h3 class="card-title">{{ actualite.title }}</h3>
    <p class="card-date">{{ actualite.publishedAt | date : "dd MMMM yyyy" }}</p>
    <p class="card-excerpt">{{ actualite.excerpt }}</p>
    <span class="read-more">
      Lire la suite
      <i class="pi pi-arrow-right"></i>
    </span>
  </div>
</div>
