<div class="backoffice-layout">
  <aside class="sidebar" [class.collapsed]="!isSidebarOpen">
    <div class="sidebar-header">
      <h2 *ngIf="isSidebarOpen">Adonf Admin</h2>
      <h2 *ngIf="!isSidebarOpen">A</h2>
    </div>

    <nav class="sidebar-nav">
      <ul>
        <ng-container *ngFor="let item of menuItems">
          <li
            *ngIf="!item.submenu"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: item.route === '/backoffice' }"
          >
            <a [routerLink]="item.route">
              <i class="icon-{{ item.icon }}"></i>
              <span *ngIf="isSidebarOpen">{{ item.label }}</span>
            </a>
          </li>
          <li *ngIf="item.submenu" class="has-submenu">
            <div class="submenu-header">
              <i class="icon-{{ item.icon }}"></i>
              <span *ngIf="isSidebarOpen">{{ item.label }}</span>
            </div>
            <ul class="submenu" *ngIf="isSidebarOpen">
              <li
                *ngFor="let subitem of item.submenu"
                routerLinkActive="active"
              >
                <a [routerLink]="subitem.route">{{ subitem.label }}</a>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </nav>
  </aside>

  <div class="main-wrapper">
    <header class="backoffice-header">
      <button class="toggle-sidebar" (click)="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="header-right">
        <div class="user-info" *ngIf="currentUser$ | async as user">
          <span>{{ user.firstName }} {{ user.lastName }}</span>
        </div>
        <button class="btn-logout" (click)="logout()">Déconnexion</button>
      </div>
    </header>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
