<div class="agenda-page">
  <section class="actualites-section">
    <div class="container">
      <div class="section-header">
        <div>
          <h2 class="section-title" id="actualites">Toutes les actualités</h2>
        </div>
      </div>
      <div class="actualites-grid">
        @for(actu of actualites; track actu.id) {
        <app-actualite-card
          [actualite]="actu"
          [featured]="actu.featured"
        ></app-actualite-card>
        }
      </div>
    </div>
  </section>

  <section class="programmation-section">
    <div class="container">
      <div class="section-header">
        <div>
          <h2 class="section-title" id="programmation">
            Toute la programmation
          </h2>
        </div>
      </div>
      <div class="concerts-grid">
        @for(concert of concerts; track concert.id) {
        <app-concert-card [concert]="concert"></app-concert-card>
        }
      </div>
    </div>
  </section>
</div>
