---
import Layout from "../../layouts/Layout.astro";
import AdminDashboard from "../../components/admin/AdminDashboard";
---

<Layout title="Tableau de bord | Association Adonf">
  <main class="min-h-[80vh] bg-gray-50">
    <AdminDashboard client:only="react" />
  </main>
</Layout>
